<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice App</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="add-invoice-page">
      <div class="add-invoice">
        <a href="history.html" class="history">go back</a>
        
        <h2>Add an Invoice</h2>
        <form class="add-form"  action = "{{url_for("invoices.add")}}" method = "POST">
          <h4>Bill From :</h4>
          <div class="main-info">
            <input
              type="text"
              id="billName"
              name="issuer"
              placeholder="Issuer"
              required
            />

            <label class="switch">
              <input type="checkbox" id="status" name="status" value="Pending" />
              <span class="slider round" id="sliderBtn" >Pending</span>
            </label>
          </div>

          
         

          <h4>Bill Information :</h4>
          <div class="bill-info">
            <input
              type="number"
              id="amount"
              name="amount"
              placeholder="Amount"
              required
            />


            <input type="date" id="date" name="date_issued" placeholder="Date" required />

            <input
              type="date"
              id="dueDate"
              name="due_date"
              placeholder="Due Date"
              required
            />
          </div>

          <button class="submit-btn" type="submit">Submit</button>
        </form>
      </div>
    </div>



    <script src="../static/main.js"></script>
  </body>
</html>
