body{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#C4E9CB;

}

#none{
  display: none;
}


  /* main page */

.mainPage{
 
  height: 100vh;
  
}

 /*main section */
   

 .mainSection {
  height: auto;
  margin: auto;
  width: 65%;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 9px 9px 9px 9px rgba(0,0,0,0.1);

  
}

.mainNav{
  overflow: hidden;
  background-color: #5FC67D;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  height: 50px;
  margin-bottom: 40px

}

.mainNav a{
  color: white;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;

}

#displayValue{
  color: white;
}

 /*navbar */

  .topnav {
    overflow: hidden;
    background-color: #5FC67D;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    height: 50px;
    color: white;
    padding: 0 15px 0 15px;
  }
  
  .history{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin: 5px;
    padding: 0;
  }
  
 
  .totalForm{
    padding:0 20px 0 20px;
  }
  
  #totalNumber{
    color:#04AA6D;
    margin: 10px;
    font-weight: 500;
  }



/*buttons part */

.buttons-part{
  display: flex;
  justify-content: space-between;
  margin: 10px;

  
}



.add{
  border-radius: 50px;
  background-color: #FFFFFF;
  color:#2e974b;
  font-weight: 700;
  border:1px solid #5FC67D;
  
}

.fa-plus {
  font-size: 15px;
  color: #5FC67D;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  border:  2px solid #5FC67D;

  
}



  .add-link{
    text-decoration: none;
    color:#04AA6D;
    font-weight: 500;
  }

  .filter-status{
    margin-top: 7px;
    width: 140px;
    font-size: 15px;
    padding: 5px;
    border-radius: 50px;
    background-color: #5FC67D;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    
  }

 .table{
    overflow-x:auto;
 }

  table {
    border-collapse: collapse;  
    width: 100%; 
  }
  


  
/* table button*/

  

.deleteBtn{
  border: none;
  background-color: #FFFFFF;
  color:#E0383C;
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;


}

.markAsPaidBtn{
  border: none;
  background-color: #FFFFFF;
  color: #E0383C;
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;


}


.editBtn{

  text-decoration: none;
  color: #04AA6D;
  font-size: 20px;
  cursor: pointer;
}

  th, td {
    text-align: left;
    padding: 16px;
  }

  tr{
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    
  }


  .statues{

    background-color: #FFF9EF;
    width: 30px;
    height: 30px;
    padding:5px 15px 5px 15px;
    border-radius: 10px;
    color: orange;
    font-weight: 600;
    border: 1px solid orange;
    cursor: pointer;
  }


  /*-----------------------------------*/

  /*Add & edit invoice page*/

  .add-invoice-page{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }

  .addInvoice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 9px 9px 9px 9px rgba(0,0,0,0.1);
    color:#2e974b;
    padding: 20px;
  }

  .addText{
    display: flex;
    justify-content: space-between;
  }
  
  .backToHome{
    font-size: 20px;
    color: rgb(37, 37, 37);
    border-radius: 20px;
    text-decoration: none;
  }

  .statusBtn{
    background-color: #FFF9EF;
    width: 130px;
    height: 30px;
    margin-bottom: 10px;
    padding:5px 15px 5px 15px;
    border-radius: 10px;
    color: orange;
    font-weight: 600;
    border: 1px solid orange;
    cursor: pointer;
  
  }

  .add-form input{
    width: 50%;
    padding: 12px 20px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #F2F2F2;
    margin-right: 20px;
  }

 

  .main-info{

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }



  .bill-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  .submit-btn{
   
    width: 120px;
    height: 30px;
    border-radius: 50px;
    background-color: #FFFFFF;
    color:#2e974b;
    font-weight: 700;
    border:1px solid #5FC67D;
  }
  
  .submit-btn:hover{
    background-color:  #49c54d;
    border: none;
    color: white;
    transition: 0.3s;
  }


  /* history page */

  .invoiceHistory{
    width: 100%;
  }

  
@media (max-width: 900px) {
  .bill-info {
      flex-direction: column;
  }

  .mainSection{
    width: 90%;
  }
 
}